@model Library.Models.BooksViewModel

@{
    ViewData["Title"] = "Create";
    var writers = ViewData["Writers"] as SelectList;
    var domains = ViewData["Domains"] as SelectList;
}

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Titre</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Description</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PagesNumber" class="control-label">Nombre de pages</label>
                <input asp-for="PagesNumber" class="form-control" />
                <span asp-validation-for="PagesNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DomainId" class="control-label">Domaines</label>
                <select asp-for="DomainId" asp-items="domains" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="WriterId" class="control-label">Ecrivains</label>
                <select asp-for="WriterId" asp-items="writers" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
